*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    /* display: flex; */
}

/* Login-page */
.Loginpage{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.Loginpage-container{
    width: 360px;
    height: 500px;
    display: flex;
    justify-content: center;
    border: 2px solid pink;
    border-radius: 15px;
}
.signlogin-container{
    display: block;
    text-align: center;
}
.font1{
    margin: 30px 0;
}
.login input{
    display: block;
    font-size: 0.7rem;
    width: 240px;
    height: 30px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
}
.Loginbtn{
    width: 247px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: pink;
    border: 1px solid pink;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block
}
.sign-container{
    margin-top: 163px;
}
.sign-container p{
    margin-bottom: 10px;
}



/* Sign-modal */
.sign-modal{
    width: 360px;
    height: 500px;
    background-color: white;
    position: absolute;
    display: none;
    justify-content: center;
    text-align: center;
    border: 2px solid pink;
    border-radius: 15px;
}
.signmodal-container{
    display: block;
}
.signmodal-container input{
    display: block;
    font-size: 0.7rem;
    width: 240px;
    height: 30px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
}
.signbtn{
    width: 247px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(212, 212, 212);
    border: 1px solid rgb(212, 212, 212);
    color: rgb(255, 255, 255);
    display: block
}
.signmodal-login{
    margin-top: 123px;
}
.sign-container p{
    margin-bottom: 10px;
}


/* 아이폰프로12pro 갤럭시S8+  */
@media(max-width:391px){
    /* Login */
    .Loginpage-container{
        width: 330px;
    }
    /* Sign */
    .sign-modal{
        width: 330px;
    }
}

/* 갤럭시폴드 */
@media(max-width:281px){
    /* Login */
    .Loginpage-container{
        width: 265px;
    }
    /* Sign */
    .sign-modal{
        width: 265px;
    }
}

/* 가로모드 */
@media(max-height:415px){
    /* Login */
    .Loginpage-container{
        width: 500px;
        height: 300px;
    }
    .font1{
        margin: 10px 0;
    }
 
    .sign-container{
        margin-top: 10px;
    }
    /* Sign */
    .sign-modal{
        width: 500px;
        height: 300px;
    }
    .sign-modal .font1{
        margin-top: 5px;
    }
    .signmodal-login{
        margin-top: 10px;
    }
    .sign-container p{
        margin-bottom: 10px;
    }
    .signmodal-container input{
        margin-bottom: 5px;
    } 
}

/* 가로모드 갤럭시폴드 */

@media(max-height:280px){
    /* Login */
    .Loginpage-container{
        width: 500px;
        height: 265px;
    }
    .font1{
        margin: 5px 0;
    }
    .sign-container{
        margin-top: 0px;
    }
    .sign-container p{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    /* Sign */
    .sign-modal{
        width: 500px;
        height: 265px;
    }
    .sign-modal .font1{
        margin-top: 4px;
    }
    .signmodal-login{
        margin-top: 10px;
    }
    .sign-container p{
        margin-bottom: 10px;
    }
    .signmodal-container input{
        margin-bottom: 4px;
    }
    .signmodal-container input{
        height: 25px;
    }
    .signbtn{
        height: 25px;
    }
}

/* Mainpage */
.mainpage{
    display: flex;
    width: 100%;
    height: 100%;
}

/* Header */

header{
    width: 280px;
    height: 100%;
    border-right: 1.5px solid pink;
    z-index: 1;
    position: fixed;
    background-color: white;
}
.header-top{
    display: none;
    align-items: center;
}
.header-top input{
    height: 30px;
    width: 200px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    outline: none;
}
.header-top a{
    margin-right: 5px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top a:hover{
    background-color: pink;
}
.header-top img{
    width: 24px;
    height: 24px;
}
header nav{
    display: none;
}
header button{
    display: none;
}
.header-bottom{
    display: none;
}
.logo{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    padding: 10px;
    display: inline-flex;
}

header nav{
    display: flex;
}
.menu li{
    padding: 5px;
    border-radius: 100px;
    margin: 10px;
}
.menu li:hover{
    background-color: pink;
}
.menu a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 15px 10px;
    font-weight: 100;
    cursor: pointer;
}
.menu a span{
    font-size: 1.35rem;
    padding-right: 10px;
}
.menu a:hover{
    color: white;
}

header button{
    width: 200px;
    height: 30px;
    background-color: rgb(201, 201, 201);
    color: white;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto 0;
    outline: none;
    font-size: 1.2rem;
    position: relative;
}
header button:hover{
    background-color: hotpink;
    color: white;
}
header button span{
    display: none;
}

.header-bottom{
    position: absolute;
    bottom: 0;
    border-radius: 80px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    width: 220px;
    height: 60px;
    display: flex;
    align-items: center;
}
.header-bottom:hover{
    background-color: pink;
    color: white;
}
.settingmodal{
    background-color: white;
    width: 240px;
    height:100px;
    display: none;
    margin-left: 20px;
    position: absolute;
    bottom: 70px;
    box-shadow: 3px 3px 3px 3px rgb(212, 212, 212);
    border-radius: 15px;
}
.settingmodal ul{
    margin: 10px 0 0 10px;
    list-style-type: none;
    display: grid;
    gap: auto;
    
}
.settingmodal li{
    background-color: white;
    padding-left: 10px;
    width: 220px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.settingmodal li:hover{
    background-color: pink;
    color: white;
}
.header-bottom img{
    width: 45px;
    border-radius: 100%;
}

.header-bottom p{
    margin-left: 10px;
}
.bottom-nav{
    display: none;
    border-top: 1.5px solid pink;
    border-bottom: 1.5px solid pink;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    align-items: center;
    z-index: 1;
    background-color: white;
}
.bottom-nav nav{
    width: 100%;
}
.menu1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.menu1 li{
    border-radius: 100%;
    list-style: none;
}
.menu1 li:hover{
    background-color: pink;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu1 a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
}
.menu1 a span{
    font-size: 1.7rem;
}
.menu1 a:hover{
    color: white;
}
.menu1 img{
    width: 28px;
    height: 28px;
    border-radius: 100%;
}
.menu1 button{
    border: none;
    font-size: 1.7rem;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    background-color: inherit;
}
.menu1 button:hover{
    background-color: pink;
    color: white;
}

.main{
    width: calc(100% - 280px);
    display: grid;
    grid-template-columns: 5fr 1fr;
    /* background-color: antiquewhite; */
    position: absolute;
    right: 0;
}
/* doodle-top */
.main-left{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.doodlenumb{
    border-bottom: 1.5px solid rgb(214, 214, 214);
    margin-top: 10px;
}
.doodle-content{
    background-color: white;
    width: 420px;
    display: grid;
}
.doodle-top{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: white;
}
.doodle-top-user{
    display: flex;
    align-items: center;
}
.doodle-top img{
    width: 34px;
    height: 34px;
    border-radius: 100%;
    cursor: pointer;
    margin: 0 8px 0 0px;
}
.doodle-username{
    cursor: pointer;
}
.doodle-username:hover{
    color: gray;
}
.doodle-time{
    color: gray;
    font-size: 0.8rem;
}
.doodle-location{
    font-size: 0.8rem;
    cursor: pointer;
}
.doodle-location:hover{
    color: gray;
}
.doodle-place{
    color: gray;
    font-size: 0.8rem;
    cursor: pointer;
}

.doodle-top-horiz{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
    margin: auto 0px auto;
}
.doodle-top-horiz:hover{
    background-color: pink;
    color: white;
}
.doodlebody{
    display: flex;
    justify-content: center;
}
.doodlebody img{
    width: 420px;
    height: 530px;
}
/* .doodle-content div{
    background-color: pink;
} */
.doodleicons{
    display: flex;
    align-items: center;
    height: 40px;
    /* background-color: pink; */
}
.doodleicons span{
    margin-right: 10px;
    cursor: pointer;
}
.doodleicons span:hover{
    color: gray;
}

.writing{
    margin-bottom: 10px;
}

.main-right{
    background-color: white;
}
@media all and (max-width:1260px) and (min-width:770px)
{
    header{
        width: 70px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .logo{
        font-size: 35px;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto 20px;
        cursor: pointer;
    }
    .logo:hover{
        background-color: pink;
    }
    .logo p{
        display: none;
    }
    .menu p{
        display: none;
    }
    .menu li{
        border-radius: 100%;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu a span{
        font-size: 30px;
        padding: 0;
    }

    header button{
        width: 45px;
        height: 45px;
        border-radius: 100%;
        margin: 10px;
    } 

    header button p{
        display: none;
    }  
    header button span{
        display: flex;
    }  
   
    .header-bottom{
        border-radius: 100%;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 5px 5px;
    }
    .profileUser{
        display: none;
    }
    .header-bottom img{
        width: 40px;
    }
}

@media(max-width:770px){
    .mainpage{
        display: flex;
        flex-direction: column;
    }
    header{
        width: 100%;
        height: 50px;
        border-right: none;
        border-bottom: 1.5px solid pink;
        border-top: 1.5px solid pink;
        padding: 0;
        position: fixed;
        z-index: 1;
        background-color: white;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
    }
    header nav{
        display: none;
    }
    .header-top{
        display: flex;
    }
    .header-bottom{
        display: none;
    }
    header button{
        display: none;
    }
    .bottom-nav{
        display: flex;
        position: fixed;
    }
    .main{
        /* height: 100%; */
        height: calc(100% - 100px);
        display: flex;
        justify-content: center;
        width: 100%;
        top: 50px;
        position: absolute;
    }
    .main-right{
        display: none;
    }
}

/* Doodle Page */
.doodlepage{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: rgb(18, 19, 20);
    background-color: rgba(110, 110, 110, 0.4);
    display: none;
    top: 0;
    left: 0;
}
.CloseDoodle{
    display: flex;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    right: 10px;

}
.CloseDoodle:hover{
    background-color: pink;
    color: white;
}
.doodlecontainer{
    background-color: white;
    width: 540px;
    height: 300px;
    border-radius: 15px;
    margin: 100px auto;
}

.Doodle-top{
    width: 540px;
    height: 50px;
    border-bottom: 1.5px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: relative;
}
.Doodle-body{
    height: 200px;
    width: 540px;
}
.Doodle-body input{
    outline: none;
    border: none;
    width: 520px;
    margin: 10px;
}
.Doodle-bottom{
    width: 540px;
    height: 50px;
    border-top: 1.5px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Doodle-icons{
    margin-left: 10px;
}
.doodlebtn{
    background-color: pink;
    width: 80px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    margin-right: 10px;
}
@media(max-width: 700px){
    .doodlecontainer{
        width: 100%;
        height: 100%;
        margin-top: 0px;
        border-radius: 0;
    }
    .Doodle-top{
        width: 100%;
    }
    .Doodle-bottom{
        width: 100%;
    }
}
.realupload{
    display: none;
}
.upload{
    cursor: pointer;
}

/* Text Type */

.inline{
    display: inline-flex;
    align-items: center;
}

.block{
    display: flex;
    display: block;
}

.center{
    align-items: center;
}

.top10{
    margin-top: 10px;
}

.right10{
    margin-right: 10px;
}
.left10{
    margin-left: 10px;
}

.bottom10{
    margin-bottom: 10px;
}

.top5{
    margin-top: 5px;
}

.marginauto{
    margin: 0 auto 0;
}

.smallfont{
    font-size: 0.7rem;
}

/* Main */
